@import url("../../../style.css");

:root {
  font-family: "fira sans";
  --coal: #353131;
  --clay: #575757;
  --text-light-grey: #F4F3F1;
  --text-white: #ffffff;
  --leaf-green: #4A8460;
  --page-background-color: #8ED8BF;

  /* Font sizes */
  --page-heading: 32px;
  --menu-item-title: 22px;
  --menu-item-description: 14px;
  --dropdown-menu-item: 24px;
}

body {
  background-image: url("../../../images/background-leaf2.png");
  /* color: var(--text-light-grey); */
}

h1{
  text-align: center;
  color: #353131;
}

.map-text h2{
  margin-bottom: 20px;
  color: var(--text-light-grey);
}


.map-container {
  height: 690px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  
}

.map-box--malmo, .map-box--goteborg, .map-box--stockholm {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--clay);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.map-box--malmo {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.map-box--goteborg{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;;
}

.map-box--stockholm {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}


.map-box h2 {
  width: 200px;
  align-items: flex-start;
}

.map-text {
  width: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.map-text p {
  font-size: 14px;
  color: var(--text-light-grey);
  margin-top: 0.5em;
}
.map-wrapper {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden; 
}

gmp-map {
  width: 100%;
  height: 300px;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--clay);
  color: var(--text-light-grey);
  padding: 0.9em;
}

.footer__content,
.footer__follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.footer__content {
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.footer p {
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 0.5em;
}

.footer__follow {
  display: flex;
  gap: 3em;
  margin-bottom: 1em;
}

.footer__follow img {
  width: 1.5em;
}

.location-text{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.popup__container {
  width: 20em;
  height: 5em;
  position: fixed;
  background-color: var(--coal);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: var(--text-light-grey);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 3px 0px;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.popup__heading {
  text-align: center;
  padding: 20px;;
}