:root {
    /* Colors */
    --coal: #353131;
    --clay: #575757;
    --menu: #605858;
    --menulight: #716A6A;
    --text-light-grey: #F4F3F1;
    --text-white: #ffffff;
    --leaf-green: #4A8460;
    --page-background-color: #8ED8BF;

    /* Font sizes */
    --page-heading: 32px;
    --menu-item-title: 22px;
    --menu-item-description: 14px;
    --dropdown-menu-item: 24px;
    --button-text: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.orderhistorik__heading {
    color: var(--text-white);
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--clay);
    font-family: 'Fira Sans';
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.kvitto {
    background-color: var(--text-light-grey);
    width: 326px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 32px;
}

.kvitto__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 1rem;

}

.kvitto__content {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kvitto__row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 10px 0;
}

.kvitto__info {
    display: flex;
    flex-direction: column; 
    
}

.kvitto__price {
    text-align: right; 
    min-width: 80px; 
}

.kvitto__logga {
    width: 50px;
}

.kvitto__order-nummer {
    color: var(--clay, #605858);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
}

.kvitto__content--antal {
    color: var(--coal, #353131);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.kvitto__total {
    width: 100%;
    padding: 16px;
    background: var(--shade-24-dark, rgba(53, 49, 49, 0.24));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kvitto__total--title {
    color: var(--coal, #353131);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.kvitto__total--moms {
    color: var(--coal, #353131);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}

.kvitto__total--summa {
    color: var(--coal, #353131);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.ny-beställning-btn {
    background-color: var(--coal);
    color: var(--text-white);
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--dropdown-menu-item);
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 326px;
    height: 77px;
    bottom: 1rem;
}

.kvitto__total-sum-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--clay);
    color: var(--text-light-grey);
    padding: 0.9em;
  }
  
  .footer__content,
  .footer__follow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .footer__content {
    justify-content: space-evenly;
    margin-top: 0.5em;
  }
  
  .footer p {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 0.5em;
  }
  
  .footer__follow {
    display: flex;
    gap: 3em;
    margin-bottom: 1em;
  }
  
  .footer__follow img {
    width: 1.5em;
  }

  .popup__container {
    width: 20em;
    height: 5em;
    position: fixed;
    background-color: var(--coal);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--text-light-grey);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 3px 0px;

    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.popup__heading {
    text-align: center;
    padding: 20px;;
}
